<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="error-message">
        <div th:if="${results != null && !results.isEmpty()}">
            <div th:each="result : ${results}">
                <ul>
                    <li th:text="${result}"></li>
                </ul>
            </div>
        </div>

        <hr>

        <div th:if="${errors != null && !errors.isEmpty()}" >
            <h3 th:text="'There are errors while ' + ${errorType} + ':'"></h3>
            <div th:each="error : ${errors}">
                <ul>
                    <li th:text="${error}"></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>