<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">


</head>
<body>
    <div th:fragment="header">
        <div class="header-background"></div>
        <div class="grid-header">
            <div class="square-header">
                <img class="header-logo" th:src="@{/images/K_Logo.jpg}">
            </div>
            <div class="square-header">
                <form action="https://kndiy.github.io/GitHubPortfolio/" method="get">
                    <input class="input-header" type="submit" value="My Pfl.">
                </form>
            </div>
            <div class="square-header">
                <form th:action="@{/welcome}" id="goToHome" method="get">
                    <input class="input-header" type="submit" value="Home">
                </form>
            </div>
            <div class="square-header-dropdown">
                <input class="input-header" type="button" value="Menu">
                <div class="header-dropdown-content-grid">
                    <div class="header-dropdown-square">
                        <span class="arrow-right"></span>
                    </div>
                    <div class="header-dropdown-square">
                        <form th:action="@{/companies/}" id="goToCompany" method="get">
                            <input class="input-header" type="submit" value="Company">
                        </form>
                    </div>
                    <div class="header-dropdown-square">
                        <h4 class="black-font">Entering Data related to Companies, Addresses and Contacts</h4>
                    </div>
                    <div class="header-dropdown-square">
                        <span class="arrow-right"></span>
                    </div>
                    <div class="header-dropdown-square">
                        <form th:action="@{/item-codes/}" id="goToItemCode" method="get">
                            <input class="input-header" type="submit" value="Item Code">
                        </form>
                    </div>
                    <div class="header-dropdown-square">
                        <h4 class="black-font">Inputting ItemCode entries and corresponding contracts</h4>
                    </div>
                    <div class="header-dropdown-square">
                        <span class="arrow-right"></span>
                    </div>
                    <div class="header-dropdown-square">
                        <form th:action="@{/inventories-in/}" id="goToInventory" method="get">
                            <input class="input-header" type="submit" value="In-ventory">
                        </form>
                    </div>
                    <div class="header-dropdown-square">
                        <h4 class="black-font">Managing Inventory Input transactions from Purchasing, Manufacturing, etc.</h4>
                    </div>
                    <div class="header-dropdown-square">
                        <span class="arrow-right"></span>
                    </div>
                    <div class="header-dropdown-square">
                        <form th:action="@{/sales/}" method="get">
                            <input class="input-header" type="submit" value="Sales"/>
                        </form>
                    </div>
                    <div class="header-dropdown-square">
                        <h4 class="black-font">Controlling Sales data, selecting inventory items from Inventory-In list, setting delivery destinations, etc.</h4>
                    </div>
                    <div class="header-dropdown-square">
                        <span class="arrow-right"></span>
                    </div>
                    <div class="header-dropdown-square">
                        <form th:action="@{/sales-reporting/}" method="get" id="header-sale-reporting-form">
                            <input class="input-header" type="button" value="SalesRpt" onclick="openSalesReportingHeader()"/>
                        </form>
                    </div>
                    <div class="header-dropdown-square">
                        <h4 class="black-font">Reviewing delivery data from Sales operations, and printing corresponding notes</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-logout">
            <form th:action="@{/logout}" method="post">
                <input class="input-header" type="submit" value="Logout"/>
            </form>

        </div>

    </div>



    <div th:fragment="header-port">
        <div class="header-background"></div>
        <div class="grid-header">
            <div class="square-header">
                <img class="header-logo" th:src="@{/images/K_Logo.jpg}">
            </div>
            <div class="square-header">
                <input class="input-header" type="button" value="Hello" onclick="scrollToFunction('hello')"/>
            </div>
            <div class="square-header">
                <input class="input-header" type="button" value="About" onclick="scrollToFunction('about')"/>
            </div>
            <div class="square-header">
                <input class="input-header" type="button" value="Project" onclick="scrollToFunction('project')">
            </div>
            <div class="square-header">
                <input class="input-header" type="button" value="Experience" onclick="scrollToFunction('experience')">
            </div>
            <div class="square-header">
                <input class="input-header" type="button" value="Contact" onclick="scrollToFunction('contact')">
            </div>
            <div class="header-logout">
                <form th:action="@{/resume}" method="post">
                    <input class="input-header" type="submit" value="Resume">
                </form>
            </div>
        </div>
    </div>




    <div th:fragment="footer" class="footer-sub">
        <h3>Copyright © 2023 Khiem Nguyen. All Rights Reserved</h3>
        <hr>
        <h4>khiemnd9112@gmail.com</h4>
    </div>

</body>
</html>