<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="new-inventory-in-modal">
        <div class="modal new-inventory-in-modal" id="new-inventory-in-modal">
            <form th:action="@{/inventories-in/new}" method="post" th:object="${inventoryInDto}">
                <div class="grid grid-new-inventory-in">
                    <div class="black-square-flex square-new-inventory-in">
                        <span class="close-button">&times;</span>
                        <h2 class="modal-heading">NEW IN-VENTORY</h2>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Inventory In Voucher</label>
                        <hr>
                        <input type="text" th:field="*{voucher}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Source</label>
                        <hr>
                        <select th:field="*{inventoryInSource}">
                            <option th:value="0"></option>
                            <option th:each="source : ${inventoryInSources}" th:value="${source}" th:text="${source}"></option>
                        </select>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Supplier Source</label>
                        <hr>
                        <select th:field="*{supplierSource}">
                            <option th:value="0"></option>
                            <option th:each="supplier : ${suppliers}" th:value="${supplier.idCompany}" th:text="${supplier.nameEn}"></option>
                        </select>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Value (VND)</label>
                        <hr>
                        <input type="text" th:field="*{inventoryInValue}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Foreign Value</label>
                        <hr>
                        <input type="text" th:field="*{inventoryInValueForeign}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Foreign Unit</label>
                        <hr>
                        <input class="input-edit-inventory-in" type="text" th:field="*{foreignUnit}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Exchange Rate</label>
                        <hr>
                        <input type="text" th:field="*{exchangeRate}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Inventory Articles</label>
                        <hr>
                        <input type="text" th:field="*{numberOfInventoryArticles}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <input type="submit" value="Add New In-ventory">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN>
    <!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN>
    <!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN>
    <!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN>
    <!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN><!EDIT INVENTORY IN>

    <div th:fragment="edit-inventory-in-modal">
        <div class="modal new-inventory-in-modal" id="edit-inventory-in-modal">
            <form th:action="@{/inventories-in/edit}" method="post" th:object="${inventoryInDto}">
                <div class="grid grid-new-inventory-in">
                    <div class="black-square-flex square-new-inventory-in">
                        <span class="close-button">&times;</span>
                        <h2 class="modal-heading">EDIT IN-VENTORY</h2>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Inventory In Voucher</label>
                        <hr>
                        <input class="voucher" type="text" th:field="*{voucher}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Source</label>
                        <hr>
                        <select class="select-edit-inventory-in" th:field="*{inventoryInSource}">
                            <option th:value="0"></option>
                            <option th:each="source : ${inventoryInSources}" th:value="${source}" th:text="${source}"></option>
                        </select>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Supplier Source</label>
                        <hr>
                        <select class="select-edit-inventory-in" th:field="*{supplierSource}">
                            <option th:value="0"></option>
                            <option th:each="supplier : ${suppliers}" th:value="${supplier.idCompany}" th:text="${supplier.nameEn}"></option>
                        </select>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Value (VND)</label>
                        <hr>
                        <input class="value-vnd" type="text" th:field="*{inventoryInValue}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Foreign Value</label>
                        <hr>
                        <input class="value-foreign" type="text" th:field="*{inventoryInValueForeign}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Foreign Unit</label>
                        <hr>
                        <input class="foreign-unit" type="text" th:field="*{foreignUnit}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Exchange Rate</label>
                        <hr>
                        <input class="exchange-rate" type="text" th:field="*{exchangeRate}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <label>Inventory Articles</label>
                        <hr>
                        <input type="text" th:field="*{numberOfInventoryArticles}"/>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <input type="submit" value="Edit In-ventory">
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <h4>**Please skip Inventory Article Field if you don't want to modify attached Inventories!**</h4>
                    </div>
                    <div class="black-square-flex square-new-inventory-in">
                        <input class="id-inventory-in" type="hidden" th:field="*{idInventoryIn}">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN>
    <!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN>
    <!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN>
    <!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN>
    <!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN><!DELETE INVENTORY IN>

    <div th:fragment="delete-inventory-in-modal">

        <div class="modal delete-inventory-in-modal" id="delete-inventory-in-modal">

            <form th:action="@{/inventories-in/delete}" th:object="${idInventoryIn}" method="post">

                <div class="grid-delete-inventory-in">

                    <div class="square-delete-inventory-in black-square-flex">
                        <span class="close-button" onclick="pressToClose()">&times;</span>
                        <label style="text-decoration: underline">Please enter ID of the InventoryIn you want to delete!</label>
                        <hr>
                        <input type="text" placeholder="InventoryIn ID" required name="idInventoryIn" id="delete-inventory-in-id-input"/>
                    </div>

                    <div class="square-delete-inventory-in black-square-flex">
                        <input type="submit" value="Delete InventoryIn"/>
                    </div>
                </div>
            </form>

        </div>
    </div>

</body>
</html>