<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sales Reporting</title>
    <link th:href="@{/styles/template.css}" rel="stylesheet">
    <link th:href="@{/styles/sales-reporting-template.css}" rel="stylesheet">

    <script th:src="@{/scripts/sales-reporting-scripts.js}" type="text/javascript"></script>
</head>
<body>
    <div class="everything-container">
        <div th:insert="~{fragments/header-footer :: header}"></div>






        <div th:insert="~{fragments/header-footer :: footer}" class="footer"></div>
    </div>

</body>
</html>