<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Khiem Nguyen|Software Developer</title>
    <link th:href="@{/styles/template.css}" rel="stylesheet">
    <link th:href="@{/styles/portfolio-template.css}" rel="stylesheet">

    <script th:src="@{/scripts/portfolio-scripts.js}" type="text/javascript"></script>
</head>
<body>
    <div class="everything-container">
        <div th:insert="~{/fragments/header-footer :: header-port}"></div>

        <hr>

        <input type="text" id="test">

        <hr>

        <div class="ultra-grid">
            <div class="ultra-square hello" id="hello">
                <div class="grid hello-grid">
                    <div class="square flex hello-square">
                        <h3>Hello! My name is</h3>
                        <hr>
                        <h2>Khiem Duy Nguyen</h2>
                        <hr>
                        <h2>IT is my passion and seeking knowledge is my drive!</h2>
                    </div>
                    <div class="square flex hello-square">
                        <p>I am a Java developer, with strong points in learning ability, English skills, and adaptability;</p>
                    </div>
                    <div class="square flex hello-square">
                        <p>Currently working at Daesan Vina Company Limited.</p>
                    </div>
                    <div class="square flex hello-square">
                        <button onclick="scrollToFunction('contact')">Contact Me</button>
                    </div>
                </div>
            </div>

            <div class="ultra-square about" id="about">
                <h2>About My Journey Into Programming</h2>
                <div class="grid about-grid">
                    <div class="square about-square flex">
                        <p>Originally, I graduated in Media and Printing and Accounting majors.
                            However, life is strange and led me to have the first contact with Programming in 2019.
                        </p>
                        <p>In 2019, my director requested me to create an effective voucher system to
                            ready our company for making transactions with a strict customer.
                        </p>
                        <p>Abiding by his order, I devised a simple voucher scheme, which was the first step of my journey to programming.
                            At first, I created a complex MS Excel file to accommodate the scheme. It was met with slow speed and scalability
                            which required resetting to another file each 100 orders.
                        </p>
                        <p>Eventually, in 2020 I first touched upon programming by developing
                            my first sales-monitoring application using MS Access and VBA,
                            which was not exactly a programming language itself, even though it helped me effectively managed the sales
                            data and raised the firm's revenue by at least 15%.
                        </p>
                        <p>In 2022, I decided to migrate the back end of my application to MySQL with the purpose of making my
                            application becoming more portable. I completed the migrating to a spare server machine: HPE Proliant DL60 Gen9.
                            However, the process of setting up ODBC on each machine that wanted access to the database made me feel unsatisfied.
                        </p>
                        <p>In Feb 2023, with the familiarity to SQL and all those above, I decided to learn JAVA with the goal of making an ultra-portable
                            web application that could house my growing database. Besides, my application had always been used for sales-monitoring,
                            I wanted to upgrade it into a full inventory-monitoring application, or even an ERP.
                        </p>
                        <p>Now in July 2023, the application was partially done, reaching the functionality of the old MS Access one, though having
                            a tighter control on inventory counts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ultra-square project" id="project">
                <h2>My Projects</h2>
                <div class="grid project-grid">
                    <div class="square project-square flex">
                        <h3>1. ERP Project</h3>
                        <p>
                            As my boss only pays attention to the sales and statistical data, I retain all rights to the application as its sole author.
                        </p>
                        <p>
                            Additionally, in my humble opinion, knowledge is supposed to be shared. Therefore, please feel free to
                            access source code and deployment clone (of course with no transaction data from my company)
                            of the application and give me feedback if possible!
                        </p>
                        <p>
                            For the deployment clone, please use AdminPassword: "852456!!!!" (without quotes) to create your own account!
                        </p>
                    </div>
                    <div class="square project-square flex">
                        <input type="submit" value="GitHub" onclick="goToErpSourceCode()">
                        &nbsp&nbsp&nbsp&nbsp&nbsp
                        <form th:action="@{/home}" method="get">
                            <input type="submit" value="Deployment">
                        </form>
                    </div>
                </div>

                <div class="grid project-grid">
                    <div class="square project-square flex">
                        <h3>2. WebNovel Content-Copying Project</h3>
                        <p>
                            My hobby is to read web novel in my kindle which does not have much support for web browsing.
                        </p>
                        <p>
                            In order to avoid manually copying the contents of those free novels chapter-by-chapter,
                            I developed a piece of API using libraries of Jsoup and Apache POI that helps me parse the links and download the novel into a docx file.
                            The formatting uses Bookerly font family, which was recommended from KindleAmazon for reading,
                            accompanied by proper indentation and chapter references.
                        </p>
                    </div>
                    <div class="square project-square flex">
                        <input type="submit" value="GitHub" onclick="goToWebNovelCopierSourceCode()">
                    </div>
                </div>


            </div>

            <div class="ultra-square experience" id="experience">

            </div>
            <div class="ultra-square contact" id="contact">
                <h2>My Experience</h2>
                <div class="grid project-grid">
                    <div class="square project-square flex">
            </div>
        </div>







        <div th:insert="~{/fragments/header-footer :: footer}" class="footer"></div>
    </div>

</body>
</html>