
.grid-company {
    display: grid;
    grid-template-columns: 60px 600px 200px 60px;
    width: 960px;
    grid-auto-rows: 50px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    margin-top: 1px;
    margin-bottom: 3px;
}

.input-company-id {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    max-width: 90%;

    padding: 0;
    width: 50px;
    height: 40px;
}

.square-company {
    display: flex;
    align-items: center;

    background-color: white;
    padding-left: 5px;
    min-content: 0;
    overflow-wrap: anywhere;
    color: black;

    min-height: 50px;
}

.square-company:nth-child(1), .square-company:nth-child(5) {
    padding: 0;
    justify-content: center;
}
.square-company:nth-child(7) {
    grid-column: span 2;
}

.company-checkbox {
    display: block;
    align-items: center;
}

.label-new-company {
    display: block;
    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
}

.grid-modal-company {
    display: grid;
    position: fixed;
    top: 60px;
    left: 20%;
    padding: 50px;
    background-color: black;
    grid-template-columns: 400px 400px;
    grid-row-gap: 10px;
}

.square-modal-company:nth-child(1), .square-modal-company:nth-child(4), .square-modal-company:nth-child(5) {
    grid-column: span 2;
}

.square-modal-company:nth-child(5) .input-text, .square-modal-company:nth-child(4) .input-text {
    width: 720px;
}


.grid-company-function {
    display: grid;
    grid-template-columns: 300px 220px 220px;
}

.square-company-function {
    display: flex;
    align-items: center;
}

.grid-modal-delete {
    display: grid;
    position: fixed;
    top: 200px;
    left: 20%;
    grid-template-columns: 500px;
    background-color: black;
    padding: 50px;
    grid-row-gap: 30px;
}

label {
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
}