
.grid {
    display: grid;
}

.square {
    max-width: 800px;
}

.flex {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.flex .hr {
    flex-basis: 100%;
    margin: 0;
    border: 0;
    height: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    margin-top: 20px;
}

.orange-text {
    color: #FFA633;
}

p {
    margin: 0;
    margin-top: 15px;
    font-size: 22px;
    opacity: 0.8;
}

ul {
    margin: 0;
    opacity: 0.8;
}

li {
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
}

.ultra-square {
    margin-top: 60vh;
}

.ultra-square:nth-child(1) {
    margin-top: 25vh;
}

h1 {
    color: '#FA633';
}

.transparent {
    opacity: 0.7;
}

input {
    margin-top: 15px;
}

.ms-access-image-grid, .spring-app-image-grid, .ms-excel-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 40px;
    grid-column-gap: 20px;

    width: 100%;

    margin-top: 15px;
}

.ms-access-image-square:nth-child(6), .spring-app-image-square:nth-child(6), .ms-excel-image-square:nth-child(6) {
    grid-column: span 5;
}

.pointer {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

.italic {
    font-style: italic;
    font-size: 22px;
}

.caption {
    margin-top: 0px;
}

#image-modal {
    display: 'none';
    height: 100%;
    width: 100%;
}

#image-modal img {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    max-height: 90%;
    max-width: 80%;
    width: auto;
    height: auto;
}

#image-modal .close-button {
    position: absolute;
    top: 60px;
    right: 10%;
}

.center {
    justify-content: center;
    align-items: center;
}

.vertical-text {

    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

    align-self: end;
    bottom: 12%;

}

.vertical-square {
    display: flex;
}

.everything-container {
    z-index: 100;
}

.ultra-grid {
    z-index: 10;
}

.vertical {

    z-index: 0;
    position: sticky;
    display: flex;

    min-width: 1000px;
    width: 90vw;
    bottom: 0;
}

.right-vertical-grid {

    display: grid;
    grid-template-rows: 400px 200px;
    grid-gap: 15px;
    height: 615px;

    align-self: end;
    margin-left: auto;
    margin-right: 3%;
}

.left-vertical-grid {

    display: grid;
    grid-template-rows: 50px 50px 200px;
    grid-gap: 15px;
    height: 330px;

    align-self: end;
    margin-left: 3%;
    margin-right: auto;
}

.vertical-rule {

    height: 100%;
    width: 8px;
    border-left: 1px solid white;
}

.vertical-rule-left {
    height: 100%;
    width: 1px;
    border-right: 1px solid white;
}

.logo-anchor {
    width: 50px;
    height: 50px;
    z-index: 0;
}

.logo-anchor:hover {
    color: #FFA933;
    box-shadow: 0px 0px 5px 5px #FFA933;
}

.reminder-grid {
    display: grid;
    grid-template-columns: 600px;
    padding: 50px;
    background-color: black;

    top: 200px;
    transform: translate(-50%, 0);
    left: 50%;

    position: absolute;
}

.reminder-square h1, .reminder-square h3 {
    margin: 0;
    margin-top: 10px;
}

